---
default_stages: [commit]
fail_fast: false
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-ast
  - id: debug-statements
  - id: trailing-whitespace
  - id: check-json
  - id: no-commit-to-branch
    args:
    - --branch=master
    - --branch=main
  - id: check-added-large-files
    args: [--maxkb=1024]
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: check-shebang-scripts-are-executable
- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
  - id: black
- repo: https://github.com/timothycrosley/isort
  rev: 7.0.0
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/bandit
  rev: 1.9.2
  hooks:
  - id: bandit
    args: [--ini=.bandit, -ll]
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-bugbear==25.11.29]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
    args: [--py38-plus]
